<app-header></app-header>

<div id="description">
    <h2>
        Welcome to GraphIt!
    </h2>
    
    <p>
        GraphIt is an easy way to visualise your date in graphs and numbers.
    </p>    
</div>

<div id="instructions-and-inputs">
    <p>
        How to use GraphIt:
    </p>
    <p>
        Firstly add a CSV file filled with data.
        <app-fileInput></app-fileInput>
    </p>
    
    <p>
        Secondly prompt which data you want as your y-axis and X-axis.
        <app-axisInputs></app-axisInputs>
    </p>
    
</div>